In [5]:
import numpy as np
import pandas as pd

data = np.random.standard_normal((10,2))
df = pd.DataFrame(data, columns = ['x', 'y'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       10 non-null     float64
 1   y       10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [8]:
df.head()

          x         y
0  1.125741 -0.364601
1 -0.808528  0.539355
2 -0.454313 -0.290335
3 -1.079858  1.176777
4 -1.674415  1.733718

In [9]:
df.tail()

          x         y
5 -1.011460  1.199170
6 -0.500948 -1.082803
7 -0.370935 -1.059956
8  0.382971 -0.001381
9  0.527550 -0.638665

In [10]:
df['x'] > 0.5

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9     True
Name: x, dtype: bool

In [11]:
(df['x'] > 0.1) & (df['y'] >0.2)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [12]:
(df['x'] > 0.1) | (df['y'] >0.2)

0     True
1     True
2    False
3     True
4     True
5     True
6    False
7    False
8     True
9     True
dtype: bool

In [13]:
df[df['x']>-0.1]

          x         y
0  1.125741 -0.364601
8  0.382971 -0.001381
9  0.527550 -0.638665

In [14]:
df[(df['x'] > 0.1) & (df['y']<-0.1)]

          x         y
0  1.125741 -0.364601
9  0.527550 -0.638665

In [26]:
new_df = df[df['x']>0]
new_df

          x         y
0  1.125741 -0.364601
8  0.382971 -0.001381
9  0.527550 -0.638665