## 2장 8절 데이터 재구조화

### 1. Pivot

In [1]:
import pandas as pd

In [3]:
score = {'Grade':[1,1,1,1,2,2,], 'Class':['A','A','B','B','C','C'], 'Gender':['F','M','F','M','F','M'],
           'Score':[76, 88, 85, 72, 68, 70]}
df_score = pd.DataFrame(data=score)
df_score

   Grade Class Gender  Score
0      1     A      F     76
1      1     A      M     88
2      1     B      F     85
3      1     B      M     72
4      2     C      F     68
5      2     C      M     70

In [4]:
df_score = df_score.pivot_table(index=['Grade','Class'], columns='Gender', values='Score')
df_score

Gender        F   M
Grade Class
1     A      76  88
      B      85  72
2     C      68  70

### 2. Melt

In [5]:
df_score.reset_index().melt(id_vars=['Grade','Class'], var_name='Gender', value_name='Score')

   Grade Class Gender  Score
0      1     A      F     76
1      1     B      F     85
2      2     C      F     68
3      1     A      M     88
4      1     B      M     72
5      2     C      M     70