## 4장 4절 데이터 분할

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()
df_iris = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df_iris['class']=iris.target
df_iris['class']=df_iris['class'].map({0:'setosa', 1:'versicolour', 2:'virginica'})
df_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df_iris.drop(columns='class'), df_iris['class'], test_size=0.2, random_state=1004)
print('X_train: ', X_train.shape, 'X_test: ', X_test.shape)
print('y_train: ', y_train.shape, 'y_test: ', y_test.shape)

X_train:  (120, 4) X_test:  (30, 4)
y_train:  (120,) y_test:  (30,)

In [6]:
X_train.head(3)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
87                 6.3               2.3                4.4               1.3
67                 5.8               2.7                4.1               1.0
131                7.9               3.8                6.4               2.0

In [7]:
y_train.head(3)

87     versicolour
67     versicolour
131      virginica
Name: class, dtype: object

In [8]:
df_iris['class'].value_counts()

class
setosa         50
versicolour    50
virginica      50
Name: count, dtype: int64

In [9]:
y_train.value_counts()

class
versicolour    41
setosa         40
virginica      39
Name: count, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_iris.drop(columns=''))